body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
}

#canvas {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
